#registro {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
  }
  form {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    input {
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: #ffc22c;
      }
    }
  }
}
