@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../font/FrankRuhlLibre-Regular.woff2") format("woff2"),
    url("../font/FrankRuhlLibre-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../font/FrankRuhlLibre-Bold.woff2") format("woff2"),
    url("../font/FrankRuhlLibre-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../font/FrankRuhlLibre-Light.woff2") format("woff2"),
    url("../font/FrankRuhlLibre-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../font/FrankRuhlLibre-Medium.woff2") format("woff2"),
    url("../font/FrankRuhlLibre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../font/FrankRuhlLibre-Black.woff2") format("woff2"),
    url("../font/FrankRuhlLibre-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-Bold.woff2") format("woff2"),
    url("../font/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-BoldItalic.woff2") format("woff2"),
    url("../font/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-MediumItalic.woff2") format("woff2"),
    url("../font/CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../font/CircularStd-Book.woff2") format("woff2"),
    url("../font/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-Medium.woff2") format("woff2"),
    url("../font/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-Black.woff2") format("woff2"),
    url("../font/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("../font/CircularStd-BlackItalic.woff2") format("woff2"),
    url("../font/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../font/CircularStd-BookItalic.woff2") format("woff2"),
    url("../font/CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
