#hero-cuenta {
  padding: 12rem 0 2rem;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  .title {
    color: $black;
  }
}
#profile {
  padding: 6rem 0;
  .user-style {
    color: #d0cfcd;
  }
  .form-style {
    color: black;
    border: 2px solid white;
    background-color: white;
  }
}
