$red: #fe2b09;
$white: #fff;
$blue: #005fc5;
$gray: #f1f1f0;
@import "font.scss";
@import "navbar.scss";
// estilos home
@import "hero-home.scss";
@import "roms.scss";
// estilos single
@import "hero.scss";
@import "fixed-sidebar.scss";
@import "details.scss";
@import "comments.scss";
@import "experiencia.scss";
@import "cta.scss";
//estilos guardados
@import "guardados.scss";
// estilos user
@import "user.scss";
@import "conoce.scss";
@import "add-development.scss";
html {
  body {
    font-size: 16px;
    font-family: "Circular Std Book";
    .title {
      color: $white;
      font-size: 70px; 
      font-family: "Frank Ruhl Libre";
      margin-bottom: 2rem;
      @media (min-width: 1280px) and (max-width: 1399.98px) {
        font-size: 50px;
      }
    }
    .subtitle {
      font-size: 25px;
      font-weight: 400;
      color: white;
      @media (min-width: 1280px) and (max-width: 1399.98px) {
        font-size: 20px;
      }
    }
    .img-gllry {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 220px;
    }
    .btn-warning {
      font-weight: bold;
      border-radius: 25px;
    }
  }
}

td[data-date="2019-10-04"] {
  background-color: $red;
}

footer {
  padding: 3rem 0;
}
@import "login/login.scss";
@import "registro/registro.scss";
